extends ../index.pug

block scripts 
    script(src="/scripts/crearMiniLote.js", type="module", defer) 

block contenido
    .container-md.mt-3 
        h1(class="text-center") Crear Minilote
        
        form(id="crear-sublote-form" class="p-3 mx-auto border rounded-4 shadow-sm w-75 needs-validation mt-3")
            input#solicitud(type="hidden", name="solicitud", value=sol)
            .row.mb-md-4.mt-3 
                .col-12.col-md-6.col-lg-4.offset-lg-2.mb-3.mb-md-0
                    .position-relative
                        label(for="vacuna" class="form-label fw-bold") Vacuna
                        select#vacuna(name="vacuna", class="form-select", aria-label="vacuna")
                            option(value="", selected=!tipoVac, disabled) Seleccionar vacuna 
                            each vacuna in vacunas
                                option(value=vacuna.id, selected=(vacuna.TipoVacuna.tipo===tipoVac)) #{vacuna.TipoVacuna.tipo}
                            else 
                                option(value="", selected, disabled) error al obtener las vacunas 
                        .invalid-tooltip Este campo es requerido
                .col-12.col-md-6.col-lg-4.mb-3.mb-md-0
                    .position-relative
                        label(for="cantidad" class="form-label fw-bold") Cantidad
                        input#cantidad(type="number", name="cantidad", class="form-control", aria-label="codigo de vacunas", value=cant?cant:"") 
                        .invalid-tooltip Este campo es requerido
            .row.mb-4 
                .col-12.col-md-6.col-lg-4.offset-lg-2.mb-3.mb-md-0
                    .position-relative
                        label(for="centro" class="form-label fw-bold") Centro vac. destino
                        select#centro(name="centro", class="form-select", aria-label="centro vacunacion destino")
                            option(value="", selected=!centroSel, disabled) Seleccionar centro 
                            each centro in centros
                                option(value=centro.id, selected=(centro.nombre===centroSel)) #{centro.nombre} 
                            else 
                                option(value="", selected, disabled) error al obtener los centros
                        .invalid-tooltip Este campo es requerido
                .col-12.col-md-6.col-lg-4.mb-3.mb-md-0
                    .position-relative
                        label(for="provincia" class="form-label fw-bold") Origen
                        select#provincia(name="provincia", class="form-select", aria-label="provincia")
                            option(value="", selected, disabled) Seleccionar provincia 
                            each provincia in provincias
                                option(value=provincia.id) #{provincia.nombre} 
                            else 
                                option(value="", selected, disabled) error al obtener las provincias 
                        .invalid-tooltip Este campo es requerido
            .row.mb-3.justify-content-center 
                .col-2.d-flex.justify-content-center
                    input(type="submit", value="Enviar", class="btn btn-primary d-block mx-auto") 

    include ../modalMensaje.pug