nav(class="navbar navbar-expand-lg bg-body-secondary")
    .container-fluid 
        button(class="navbar-toggler", type="button", data-bs-toggle="collapse", data-bs-target="#navbarToggler", aria-controls="navbarToggler", aria-expanded="false", aria-label="Toggle navigation")
            span(class="navbar-toggler-icon")
        .collapse.navbar-collapse(id="navbarToggler")
            ul(class="navbar-nav me-auto mb-2 mb-lg-0")
                li(class="nav-item")
                    a(class="nav-link", class=activeLink["home"], href="/", aria-current="page") Home
                li(class="nav-item")
                    a(class="nav-link", class=activeLink["solSublote"], href="/solicitudes/sublote-form") Solicitar Sublotes
                li(class="nav-item")
                    a(class="nav-link", class=activeLink["solMinilote"], href="/solicitudes/vacuna-form") Solicitar Vacunas
                li(class="nav-item")
                    a(class="nav-link", class=activeLink["comprar"], href="/lotes/comprar") Comprar 
                li(class="nav-item")
                    a(class="nav-link", class=activeLink["crearSub"], href="/sublotes/crear") Crear Sublote 
                li(class="nav-item")
                    a(class="nav-link", class=activeLink["crearMini"], href="/minilotes/crear") Crear Minilote 
                li(class="nav-item")
                    a(class="nav-link", class=activeLink["registrarPaciente"], href="/pacientes/registrar") Registrar Paciente 
                li(class="nav-item")
                    a(class="nav-link", class=activeLink["vacunacion"], href="/vacunacion") Registrar Vacunación 
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle", href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false", class=activeLink["listado"]) Listados
                    ul(class="dropdown-menu")
                        li
                            a(class="dropdown-item" href="/solicitudes/sublote-listado") Solicitudes de Sublotes
                            a(class="dropdown-item" href="/solicitudes/vacunas-listado") Solicitudes de Vacunas
                            a(class="dropdown-item" href="/lotes/listado") Stocks nacionales
                            a(class="dropdown-item" href="/sublotes/listado") Stocks provinciales
                            a(class="dropdown-item" href="/minilotes/listado") Stocks centros Vac
                li(class="nav-item dropdown")
                    a(class="nav-link dropdown-toggle", href="#", role="button", data-bs-toggle="dropdown", aria-expanded="false", class=activeLink["consultas"]) Consultas
                    ul(class="dropdown-menu")
                        li
                            a(class="dropdown-item" href="/consultas/vista/consulta1") Cantidad de vacunas por laboratorio por rango de fecha
